In [4]:
import pandas as pd
import numpy
import matplotlib.pyplot as plt

In [17]:
GPS = pd.read_csv('static/csv/CFC GPS Data.csv')
IND = pd.read_csv('static/csv/CFC Individual Priority Areas.csv')
PHY = pd.read_csv('static/csv/CFC Physical Capability Data_.csv')
REC = pd.read_csv('static/csv/CFC Recovery status Data.csv')

# Exploration

In [6]:
GPS.describe()

,md_plus_code,md_minus_code,distance,distance_over_21,distance_over_24,distance_over_27,accel_decel_over_2_5,accel_decel_over_3_5,accel_decel_over_4_5,day_duration,peak_speed,pid
count,862.000000,862.000000,862.000000,862.000000,862.000000,862.000000,862.000000,862.000000,862.000000,862.000000,862.000000,862.0
mean,3.489559,-3.482599,4348.397275,206.384127,87.730266,32.143318,93.532909,30.914458,9.413703,62.351265,24.327300,1.0
std,3.246978,3.239427,2841.399651,214.513552,103.481000,43.921496,64.593942,24.278089,8.803952,35.677410,10.914528,0.0
min,0.000000,-10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
25%,1.000000,-5.000000,2711.332083,40.067120,11.019218,1.239599,50.181008,14.031534,2.862817,45.343532,26.884825,1.0
50%,2.000000,-2.000000,4229.806525,140.624828,52.006816,14.919966,91.089483,27.642968,7.496299,67.636717,28.763600,1.0
75%,5.000000,-1.000000,6021.526515,292.186658,127.505919,43.802949,134.137148,44.412446,13.057154,85.325991,30.357408,1.0
max,10.000000,0.000000,15653.250800,1011.791940,543.629710,286.564259,326.736174,119.575568,43.411480,212.770547,32.937000,1.0

In [7]:
IND.describe()

       Priority       pid
count  6.000000  6.000000
mean   3.500000  1.500000
std    1.870829  0.547723
min    1.000000  1.000000
25%    2.250000  1.000000
50%    3.500000  1.500000
75%    4.750000  2.000000
max    6.000000  2.000000

In [8]:
PHY.describe()

       benchmarkPct      pid
count   9839.000000  12400.0
mean       0.641032      1.0
std        0.194371      0.0
min       -0.200000      1.0
25%        0.490000      1.0
50%        0.648000      1.0
75%        0.772000      1.0
max        1.148000      1.0

In [9]:
REC.describe()

             value     pid
count  5261.000000  8073.0
mean      0.056069     1.0
std       0.192026     0.0
min      -1.000000     1.0
25%       0.000000     1.0
50%       0.000000     1.0
75%       0.063333     1.0
max       0.903226     1.0

# ADD DATA FOR 2ND player

In [ ]:
import random
# Dupliquer chaque ligne du DataFrame et remplacer la valeur de pid par 2
duplicated_rows = GPS.copy()
duplicated_rows['pid'] = 2

# Générer des valeurs aléatoires pour les colonnes spécifiées pour les lignes avec pid == 2
columns_to_randomize = [
    'distance', 'distance_over_21', 'distance_over_24', 'distance_over_27',
    'accel_decel_over_2_5', 'accel_decel_over_3_5', 'accel_decel_over_4_5',
    'day_duration', 'peak_speed', 'hr_zone_1_hms', 'hr_zone_2_hms',
    'hr_zone_3_hms', 'hr_zone_4_hms', 'hr_zone_5_hms'
]

for col in columns_to_randomize:
    if 'hr_zone' in col:  # Pour les colonnes hr_zone_* générer des valeurs au format HH:MM:SS
        duplicated_rows[col] = [
            f"{random.randint(0, 23)}:{random.randint(0, 59)}:{random.randint(0, 59)}"
            for _ in range(len(duplicated_rows))
        ]
    elif col == 'day_duration' or col == 'peak_speed':  # Colonnes avec des valeurs flottantes spécifiques
        duplicated_rows[col] = duplicated_rows[col].apply(lambda _: round(random.uniform(1.0, 35.0), 2))
    else:  # Colonnes avec des valeurs numériques
        duplicated_rows[col] = duplicated_rows[col].apply(lambda _: random.randint(0, 10000) if 'distance' in col else random.randint(0, 50))

# Ajouter les lignes dupliquées au DataFrame existant
GPS_new = pd.concat([GPS, duplicated_rows], ignore_index=True)

# Randomiser les données pour les colonnes spécifiées où pid == 2
columns_to_randomize = ['distance','distance_over_21','distance_over_24','distance_over_27',
'accel_decel_over_2_5','accel_decel_over_3_5','accel_decel_over_4_5',
'hr_zone_1_hms','hr_zone_2_hms','hr_zone_3_hms','hr_zone_4_hms','hr_zone_5_hms']


for col in columns_to_randomize:
    if 'hr_zone' in col:  # Pour les colonnes hr_zone_* générer des valeurs au format HH:MM:SS
        GPS_new.loc[GPS_new['pid'] == 2, col] = [
            f"{random.randint(0, 0)}:{random.randint(0, 59)}:{random.randint(0, 59)}"
            for _ in range(len(GPS_new[GPS_new['pid'] == 2]))
        ]
    else:  # Colonnes avec des valeurs numériques
        GPS_new.loc[GPS_new['pid'] == 2, col] = GPS_new.loc[GPS_new['pid'] == 2, col].apply(lambda _: random.randint(0, 500) if 'distance' in col else random.randint(0, 50))
        if col == 'distance':
            GPS_new.loc[GPS_new['pid'] == 2, col] = GPS_new.loc[GPS_new['pid'] == 2, col].apply(lambda _: random.randint(1000, 4000))


# Sauvegarder les données mises à jour dans le fichier CSV
GPS_new.to_csv('static/csv/CFC GPS Data.csv', index=False)

print("Lignes dupliquées et mises à jour avec succès !")

,date,opposition_code,opposition_full,md_plus_code,md_minus_code,season,distance,distance_over_21,distance_over_24,distance_over_27,...,accel_decel_over_3_5,accel_decel_over_4_5,day_duration,peak_speed,hr_zone_1_hms,hr_zone_2_hms,hr_zone_3_hms,hr_zone_4_hms,hr_zone_5_hms,pid
1623,01/01/2025,NaN,NaN,2,-3,2024/2025,9742.000000,2851.000000,7599.000000,5736.000000,...,22.000000,17.000000,9.610000,22.030000,11:13:56,16:18:42,13:56:39,3:18:33,19:42:10,2
456,01/01/2024,NaN,NaN,2,-5,2023/2024,3763.621560,285.964125,126.427134,56.283326,...,44.590797,9.692523,59.135523,30.789779,00:03:13,00:05:19,00:19:19,00:23:32,00:00:48,1
1318,01/01/2024,NaN,NaN,2,-5,2023/2024,7562.000000,3270.000000,8981.000000,2535.000000,...,26.000000,14.000000,18.680000,15.640000,19:36:25,2:25:6,15:4:2,9:15:10,6:12:59,2
152,01/01/2023,NFO,Nottingham Forest,0,0,2022/2023,3126.246897,133.702823,171.402963,134.391017,...,9.573001,0.818445,51.241490,30.840875,00:08:50,00:13:56,00:10:47,00:01:54,00:00:00,1
1014,01/01/2023,NFO,Nottingham Forest,0,0,2022/2023,8129.000000,294.000000,6100.000000,1057.000000,...,19.000000,19.000000,3.090000,26.680000,17:56:58,1:50:5,21:57:39,16:10:4,5:46:39,2

In [ ]:
import random
# Dupliquer chaque ligne du DataFrame et remplacer la valeur de pid par 2
duplicated_rows = PHY.copy()
duplicated_rows['pid'] = 2

# Générer des valeurs aléatoires pour les colonnes spécifiées pour les lignes avec pid == 2
columns_to_randomize = ['benchmarkPct']

for col in columns_to_randomize:
        duplicated_rows[col] = duplicated_rows[col].apply(lambda _: round(0.001*(random.randint(0, 1100)),3) if 'bench' in col else 0.001*(random.randint(0, 1100)))

# Ajouter les lignes dupliquées au DataFrame existant
GPS_new = pd.concat([PHY, duplicated_rows], ignore_index=True)

# Sauvegarder les données mises à jour dans le fichier CSV
GPS_new.to_csv('static/csv/CFC Physical Capability Data_.csv', index=False)

print("Lignes dupliquées et mises à jour avec succès !")

Lignes dupliquées et mises à jour avec succès !

In [57]:
import random
# Dupliquer chaque ligne du DataFrame et remplacer la valeur de pid par 2
duplicated_rows = REC.copy()
duplicated_rows['pid'] = 2

# Générer des valeurs aléatoires pour les colonnes spécifiées pour les lignes avec pid == 2
columns_to_randomize = ['value']

for col in columns_to_randomize:
        duplicated_rows[col] = duplicated_rows[col].apply(lambda _: round(0.01*(random.randint(-100, 100)),3) if 'value' in col else 0.001*(random.randint(0, 1100)))

# Ajouter les lignes dupliquées au DataFrame existant
GPS_new = pd.concat([REC, duplicated_rows], ignore_index=True)

# Sauvegarder les données mises à jour dans le fichier CSV
GPS_new.to_csv('static/csv/CFC Recovery status Data.csv', index=False)

print("Lignes dupliquées et mises à jour avec succès !")

Lignes dupliquées et mises à jour avec succès !